# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Exercise1_Logging.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ghost\Documents\GitHub\IT-GMD-1\Basic Scripting\Exercise1_Logging\.idea\.idea.Exercise1_Logging\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
